.stages__item {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 20px;
  background-image: url(../../../images/background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .stages__item {
    display: flex;
    min-width: 335px;
    box-sizing: border-box;
    background-size: 325px 100%;
    padding-top: 62px;
  }
}

@media (max-width: 670px) {
  .stages__item {
    background-size: cover;
  }
}