.carousel-btns {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  min-width: 151px;
  justify-content: space-between;
  align-items: center;
}

.carousel-btns .carousel-btns_type_prev {
  transform: rotate(180deg);
 }

 @media (max-width: 768px) {
  .carousel-btns {
    position: static;
    width: 129px;
    display: flex;
    align-self: center;
    margin-top: 40px;
  }
}