.header__logo {
  display: flex;
  gap: 6.35px;
  margin-bottom: 62px;
}

@media (max-width: 768px) {
  .header__logo {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    gap: 5.5px;
    margin-bottom: 40px;
  }

  .header__logo img {
    max-width: 79.5px;
  }
}