.header__info {
  display: flex;
  flex-direction: column;
  max-width: 542px;
  gap: 24px;
}

@media (max-width: 1024px) {
  .header__info {
    max-width: 487px;
  }
}

@media (max-width: 768px) {
  .header__info {
    max-width: 80%;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 425px) {
  .header__info {
    max-width: 100%;
  }
}