.header {
  height: 700px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/Group\ 17.svg);
  background-position: center;
  background-repeat: no-repeat;
}